:root {
  --primarycolor: #212A3E;
  --seconderycoloer:#394867;
  --greycolor:#9BA4B5;
  --backgroudcolor:#F1F6F9;

}
header{
  background-color: var(--primarycolor);  
  justify-content: center;
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
}

body{
  background-color: var(--backgroudcolor);
}
a{
  text-decoration:none;
}

.h40{
  height: 50px;
}

#profile{
  border-radius: 50%;
  border-style: solid;
}

.row{
  justify-content: center;
}

span {
  cursor: pointer;
}

footer{
background-color: var(--primarycolor);
}

#githubimg{
  width: 500px;
  height: 30px;
}

#emailicon{
color:white;
}

/* div{
  border-style: solid;
} */

